
video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(20%) blur(5px);
}

.text_overlay {
    position: absolute;
    top: 50%; /* Adjust as needed to vertically center the text */
    left: 50%; /* Adjust as needed to horizontally center the text */
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Text alignment */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}

.video_options{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;


}

.radio_group {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px; /* Space between each radio group */
    width: 200px; /* Fixed width */
    box-sizing: border-box; /* Includes padding and border in the width */
    overflow: hidden; /* Prevents content from spilling out */
    vertical-align: top; /* Aligns the dropdowns to the top */
    transition: max-height 0.3s ease-in-out; /* Smooth transition for expanding effect */
}

.group_label {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 5px; /* Visual separation from options */
}

.options {
    display: block; 
    max-height: 0; /* Initially no height */
    overflow: hidden; /* Prevents content from showing when not expanded */
    transition: max-height 0.3s ease-in-out; /* Smooth transition for expanding effect */
}

.radio_group:hover .options {
    max-height: 500px; /* Enough height to show all options */
}

.radio_group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.radio_group input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

/* Custom radio button styling */
.radio_group input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #007BFF;
    background-color: #fff;
}

.radio_group input[type="radio"]:checked::before {
    background-color: #007BFF;
}

.radio_group input[type="radio"]:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Custom focus ring */
}

.radio_group input[type="radio"]:hover::before {
    border-color: #0056b3;
}


/* .dropbtn {
    background-color: #616562;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #616562;
    min-width: 160px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #989292;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

