<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Brain Rot</title>
</head>
<body>
    <div class="video_container">
    <video autoplay muted loop id="myVideo">
        <source src="../static/parkour.mp4" type="video/mp4">
    </video>
    </div>
    
    <div class="text_overlay">
        <h1>Brain Rot</h1>
        <p style="font-size:15px;">A simple application that will turn reddit posts into <br> brain rotting media </p>
        <form class="input_field" action="/add" method="post">
            <button onclick="">Let's Get Started!</button> 
    </div>

    
    
</body>
</html>