<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Rotting</title>
</head>
<body>
    <div class="video_container">
        <video autoplay muted loop id="myVideo">
            <source src="../static/subway.mp4" type="video/mp4">
        </video>
    </div>

    <div class="video_options">

        <div class="checkbox-dropdown">
            Choose Music
            <ul class="checkbox-dropdown-list">
              <li>
                <label>
                  <input type="checkbox" value="Vejle" name="city" />Undertale (scary)</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Horsens" name="city" />Undertale (happy)</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Wii Shop</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Minecraft Music</label>
              </li>
              
            </ul>
          </div>

          <div class="checkbox-dropdown">
            Choose Voice
            <ul class="checkbox-dropdown-list">
              <li>
                <label>
                  <input type="checkbox" value="Vejle" name="city" />Tom</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Horsens" name="city" />Amanda</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Steve</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Robin</label>
              </li>
              
            </ul>
          </div>

          <div class="checkbox-dropdown">
            Choose Background
            <ul class="checkbox-dropdown-list">
              <li>
                <label>
                  <input type="checkbox" value="Vejle" name="city" />Minecraft</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Horsens" name="city" />Subway Surfers</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Temple Run</label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Kolding" name="city" />Soap Cutting</label>
              </li>
              
            </ul>
          </div>

    </div>

    <div class="url-form">
        <form action="/video.html" method="post">
            <label for="fname">Enter URL for Specific Reddit Post</label>
            <input type="text" id="fname" name="" placeholder="reddit.com/r/nosleep/sskfy37cm47">
            <button type="submit" id="generate">GENERATE</button>

        </form>
        
        
    </div>

    <script>
        function fetchPost(subreddit) {
            console.log(subreddit)
            $.ajax({
                url: '/api/get_post',
                type: 'GET',
                data: { subreddit_name: subreddit },
                success: function(response) {
                    $('#postTitle').text(response.title);
                    $('#postContent').text(response.text);
                },
                error: function() {
                    alert('Error fetching post.');
                }
            });
        }

        $(".checkbox-dropdown").click(function () {
        $(this).toggleClass("is-active");
    });

    $(".checkbox-dropdown ul").click(function(e) {
        e.stopPropagation();
    });

    </script>

    
</body>
</html>