<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Rotting</title>
</head>
<body>
    <div class="video_container">
        <video autoplay muted loop id="myVideo">
            <source src="../static/soap.mp4" type="video/mp4">
        </video>
    </div>

    <div class="video_options">

        <div class="dropdown">
            <button class="dropbtn">Subreddit Choice</button>
            <div class="dropdown-content">
                <a onclick="fetchPost('NoSleep')">NoSleep</a>
                <a onclick="fetchPost('AmItheAsshole')">AITA</a>
                <a onclick="fetchPost('ScaryStories')">ScaryStories 1.3</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Video Choice</button>
            <div class="dropdown-content">
                <a href="#">Minecraft</a>
                <a href="#">Subway Surfers</a>
                <a href="#">Soap Videos</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Voice Choice</button>
            <div class="dropdown-content">
                <a href="#">Man</a>
                <a href="#">Woman</a>
                <a href="#">Spongebob</a>
            </div>
        </div>

    </div>

    <div id="result">
        <h2>Post Title</h2>
        <p id="postTitle"></p>
        <h2>Post Content</h2>
        <p id="postContent"></p>
    </div>

    <script>
        function fetchPost(subreddit) {
            console.log(subreddit)
            $.ajax({
                url: '/api/get_post',
                type: 'GET',
                data: { subreddit_name: subreddit },
                success: function(response) {
                    $('#postTitle').text(response.title);
                    $('#postContent').text(response.text);
                },
                error: function() {
                    alert('Error fetching post.');
                }
            });
        }
    </script>
</body>
</html>