<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Rotting</title>
</head>
<body>
    <div class="video_container">
        <video autoplay muted loop id="myVideo">
            <source src="../static/soap.mp4" type="video/mp4">
        </video>
    </div>

    <div class="video_options">

        <div class="dropdown">
            <button class="dropbtn">Subreddit Choice</button>
            <div class="dropdown-content">
                <a href="#">r/NoSleep</a>
                <a href="#">r/AITA</a>
                <a href="#">r/ScaryStories 1.3</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Video Choice</button>
            <div class="dropdown-content">
                <a href="#">Minecraft</a>
                <a href="#">Subway Surfers</a>
                <a href="#">Soap Videos</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Voice Choice</button>
            <div class="dropdown-content">
                <a href="#">Man</a>
                <a href="#">Woman</a>
                <a href="#">Spongebob</a>
            </div>
        </div>

    </div>
</body>
</html>